<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_yoga</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="myeclipse.connection.profile">mysql</property>
		<!-- 自动启动事物 -->
		<property name="connection.autocommit">true</property>
		<mapping resource="com/yoga/entity/TbMemberCourse.hbm.xml" />
		<mapping resource="com/yoga/entity/TbMemberCourseDetail.hbm.xml" />
		<mapping resource="com/yoga/entity/TbClassrooms.hbm.xml" />
		<mapping resource="com/yoga/entity/TbMemberConsumeDetail.hbm.xml" />
		<mapping resource="com/yoga/entity/TbStaffCourseClassrooms.hbm.xml" />
		<mapping resource="com/yoga/entity/TbStaffDetail.hbm.xml" />
		<mapping resource="com/yoga/entity/TbMember.hbm.xml" />
		<mapping resource="com/yoga/entity/TbLimit.hbm.xml" />
		<mapping resource="com/yoga/entity/TbMemberConsume.hbm.xml" />
		<mapping resource="com/yoga/entity/TbStaff.hbm.xml" />
		<mapping resource="com/yoga/entity/TbCourseType.hbm.xml" />
		<mapping resource="com/yoga/entity/TbRole.hbm.xml" />
		<mapping resource="com/yoga/entity/TbConsume.hbm.xml" />
		<mapping resource="com/yoga/entity/TbCourse.hbm.xml" />
		<mapping resource="com/yoga/entity/TbMemberType.hbm.xml" />
		<mapping resource="com/yoga/entity/TbUserRole.hbm.xml" />
		<mapping resource="com/yoga/entity/TbUser.hbm.xml" />
		<mapping resource="com/yoga/entity/TbRoleLimit.hbm.xml" />

	</session-factory>

</hibernate-configuration>